@media (min-width:600px) {
  body {
    width: 1280px;
  }

  [class*="_button"] {
    width: 260px;
  }

  /*Header*/
  header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,640px);
    background-color: #FFFFFF;
    z-index: 1;
    width: 100%;
  }

  header svg {
    height: 44px;
    width: 42px;
  }

  .preview {
    align-items: start;
    margin: 42px 166px 138px 64px;
    width: 640px;
  }

  .preview span {
    text-align: start;
    font-style: normal;
    font-size: 46px;
    line-height: 58px;
    width: 410px;
    height: 232px;
  }

  header .HomeMobile {
    display: none;
  }

  header .HomeDesktop {
    display: block;
    background: #F4F5F7;
  }

  /*Header*/

  main {
    background: #F4F5F7;
  }

  /*Statistic*/
  .statistics {
    padding: 0;
    position: relative;
    margin: 0 auto;
    height: 274px;
    width: 960px;
    border-radius: 10px;
    z-index: 0;

    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    column-gap: 100px;
    margin-top: -32px;
  }
  
  .stats {
    margin-top: 64px;
  }

  [class*="_count"] {
    font-size: 72px;
    line-height: 86px;
  }

  .stats_text {
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
  }

  /*Statistic*/

  /*Posts*/
  .views_posts {
  }
  .last_messages {
  }
  .post {
  }
  .user-icon {
  }
  .post_content {
  }
  .post_header {
  }
  .username_nickname {
  }
  .username {
  }
  .nickname {
  }
  .time-create {
  }
  .post_text {
  }
  .post_statistics {
  }
  .repost {
  }
  .like {
  }
  .save {
  }
  .img_in_post {
  }
  /*Posts*/

  /*Footer*/
  .footer_preview {
  }

  /*Footer*/
}