*{
	padding: 0;
	margin: 0;
	border: 0;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  min-width: 360px; 
}

.views_posts {
  min-width: 340px;
  padding: 42px 0px 32px 0px;
}

.last_messages {
  margin-left: 16px;
  margin-top: 24px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.post {
  margin: 0 16px;
  display: flex;
  flex-direction: row;
}

.post .user-icon {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.post_content {
  margin-left: 16px;
  width: 100%;
}

.post_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.username {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1D1E22;
}

.nickname {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ABACB1;
}

.time-create {
  width: 52px;
  margin-top: 2px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
  color: #ABACB1;
}

.post_text {
  margin-top: 5px;  

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D1E22;
}

.post_statistics {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #B1B1B1;
  max-width: 200px;
  justify-content: space-between;
  padding-right: 16px;
}

.post_statistics span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 12px;
}

.repost {
  border-radius: 10%;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.like {
  border-radius: 10%;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.save {
  border-radius: 10%;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

hr {
  margin: 16px 0 16px;
  border: 1px solid #E9E9E9;
}

.img_in_post {
  margin-top: 10px;
  max-width: 425px;
  width: 100%;
  border-radius: 20px;
}