* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  min-width: 360px;
  max-width: 560px;
}

/*Header*/
header {
  margin-bottom: -4px;
}

.header_container {
  margin: 0 8px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_container span {
  margin-top: 22px;
  font-family: 'Noto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

/*Кнопки регистрации и входа*/
.buttons_up {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.button_signup {
  background-color: #0057FF;
  width: 328px;
  padding: 15px 0;
  color: #FFF;
  text-align: center;
  border-radius: 10px;

  font-family: 'Noto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.button_signin {
  margin-top: 16px;
  background-color: #FFF;
  width: 326px;
  padding: 14px 0;
  color: #0057FF;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0057FF;

  font-family: 'Noto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
/*Кнопки регистрации и входа*/

.img-header-mobile {
  width: 100%;
}
.img-header-desktop {
  display: none;
}
/*Header*/

/*Статистика сайта*/
.statistics_container {
  background-color: #0057FF;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 4px;
}

.statistics {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFF;
}

.stat_count {
  font-family: 'Noto', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}

.stat_text {
  margin-top: 5px;
  font-family: 'Noto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0em;
}
/*Статистика сайта*/

/*Заголовок последние сообщения*/
.text-lastmessages {
  display: block;
  margin-top: 42px;
  margin-left: 16px;
  margin-bottom: 8px;
  font-family: 'Noto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
/*Заголовок последние сообщения*/

/*Посты*/
.posts_container {
}

.post {
  padding: 16px;
  display: flex;
  flex-direction: row;
}

.post_img-user {
  object-fit: cover;
  max-width: 52px;
  width: 100%;
  height: 52px;
  border-radius: 50%;
}

.post_information {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}

.post_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post_user {
}

.post_username {
  font-family: 'Noto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.post_nickname {
  color: #ABACB1;
  font-family: 'Noto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.post_time-created {
  width: 52px;
  color: #ABACB1;
  font-family: 'Noto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: right;    
}

.post_text {
  margin-top: 5px;
  min-width: 200px;
  font-family: 'Noto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.post_statistics {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  font-family: 'Noto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #B1B1B1;
}

.post_statistics span {
  margin-left: 12px;
}

.post_repost {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post_like {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post_save {
  margin-left: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-hr {
  height: 1px;
  background-color: #B1B1B1;
}
/*Посты*/

/*Блок с актуальными*/
.content_container-currents {
  display: none;
}
/*Блок с актуальными*/

/*Footer*/
.footer_container {
display: flex;
flex-direction: column;
align-items: center;
}

.footer_container span {
  margin-top: 22px;
  font-family: 'Noto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

/*Кнопки регистрации и входа*/
/*Стиль находится в HEADER*/
/*Кнопки регистрации и входа*/

/*Footer*/