@media (min-width:600px) {
  main {
    background-color: #F4F5F6;
  }
  /*Header*/
  body {
    font-family: 'Noto', sans-serif;
    min-width: none;
    max-width: none;
    width: 1280px;
  }
  
  header {
    position: relative;
    background-color: #fff;
    margin: 0;
    height: 640px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    z-index: 1;
  }

  .header_container {
    margin-top: 42px;
    margin-left: 64px;
    align-items: start;
    width: 100%;
  }

  .header_container svg{
    width: 42px;
    height: 44px;
  }

  .header_container span {
    margin-top: 32px;
    text-align: left;
    width: 450px;
    font-size: 48px;
    line-height: 57.6px;
  }

  /*Кнопки регистрации и входа*/
  .buttons_up {
    margin-top: 32px;
  }
  
  .button_signup {
    width: 260px;
  }

  .button_signin {
    width: 260px;
  }
  /*Кнопки регистрации и входа*/

  .img-header-desktop {
    object-fit: cover;
    display: block;
    width: 640px;
  }

  .img-header-mobile {
    display: none;
  }
  /*Header*/

  /*Статистика сайта*/
  .statistics_container {
    padding: 64px 80px;
    width: 800px;
    height: 146px;
    margin-top: -32px;
    border-radius: 10px;
    margin-left: 180px;
    flex-direction: row;
    justify-content: space-between;
  }

  .statistics {
    width: 200px;
  }

  .stat_count {
    font-size: 72px;
    font-weight: 300;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: center;

  }

  .stat_text {
    margin-top: 16px;
  }
  /*Статистика сайта*/

  /*Заголовок последние сообщения*/
  .text-lastmessages {
    margin-left: 180px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
  }
  /*Заголовок последние сообщения*/

  .contents {
    margin-top: 24px;
    margin-left: 180px;
    display: flex;
  }

  /*Блок с постами*/
  .posts_container {
    background-color: #fff;
    border-radius: 10px;
    width: 632px;
  }

  .post {
  }

  .post_img-user {
    max-width: 64px;
    width: 100%;
    height: 64px;
  }

  .post_information {
    width: 100%;
  }

  .post_header {
  }

  .post_user {
    display: flex;
    flex-direction: row;
  }

  .post_username {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left; 
  }

  .post_nickname {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .post_time-created {
    width: 126px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
  }

  .post_text {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .post_statistics {
  }

  .post_repost {
  }

  .post_like {
    margin-left: 111px;
  }

  .post_save {
    margin-left: 222px;
  }

  .post-hr {
    display: none;
  }
  /*Блок с постами*/

  /*Блок с актуальными*/
  .content_container-currents {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }

  /*Актуальные темы*/
  .current-topics {
    background-color: #fff;
    border-radius: 10px;
    width: 296px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .current-topics_text {
    color: #1D1E22;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .topic_container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
  }

  .topic_container a {
    margin-top: 5px;
    color: #1D1E22;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  .topic_container span {
    margin-top: 2px;
    color: #ABACB1;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  /*Актуальные темы*/

  /*Интересные блогеры*/
  .current-blogs {
    background-color: #fff;
    margin-top: 16px;
    border-radius: 10px;
    width: 296px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .current-blogs-text {
    color: #1D1E22;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  .blog {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .blog_img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .blog_container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  .blog_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1E22;
  }

  .blog_nickname {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #ABACB1;
  }

  .blog a {
    margin-right: 16px;
    margin-left: auto;
    padding-top: 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    display: block;
    border-radius: 5px;
    color: #0057FF;
    width: 69px;
    height: 19px;
    border: 1px solid #0057FF;
  }
  /*Интересные блогеры*/
  /*Блок с актуальными*/

  /*Переход*/
  .shadow {
    position: relative;
    margin: 0 auto;
    background: linear-gradient(0deg, #F4F5F6 18.87%, rgba(244, 245, 246, 0) 100%);
    mix-blend-mode: normal;
    width: 100%;
    height: 218px;
    width: 1280px;
    margin-top: -218px;
  }
  /*Переход*/
  /*Footer*/
  footer {
    background-color: #F4F5F6;
  }

  .footer_container {
  }

  .footer_container span {
      font-size: 48px;
      line-height: 57.6px;
      width: 641px;
  }

  .footer_container .buttons_up {
    flex-direction: row;
  }

  .footer_container .button_signin {
    margin-top: 0;
    margin-left: 16px;
  }
  /*Footer*/

  /*Загрузка*/
  .post_nickname_download {
    margin-left: 16px;
  }
  /*Загрузка*/
}