html, body{
  margin: 0 auto;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

button{
  border: none;
  font-family: 'Lato', sans-serif;
}

.preview{
  padding: 24px 16px;
}

.header{
  min-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  text-align: center;
}

.h1{
  font-weight: 900;
  text-align: center;
}

.preview_buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.preview_buttons button{
  width: 328px;
  height: 52px;
  border-radius: 10px;
  font-size: 18px;
}

.sign_up{
  font-weight: 700;
  background-color: #0057FF;
  color: #FFFFFF;
}

.sign_in{
  font-weight: 400;
  margin-top: 16px;
  background-color: #FFFFFF;
  color: #0057FF;
  border: 1px solid #0057FF;
}
.preview_img{
  width: 100%;
  height: 100%;
}
.preview_img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: -4px;
}
/*Статистика*/
.statistics{
  margin: 0 auto;
  min-width: 360px;
  background-color: #0057FF;
  padding: 36px 0;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  row-gap: 16px;
}
.stats{
  display: flex;
  flex-direction: column;
}
[class*="_count"]{
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 5px;
}
.user_count{
  font-size: 48px;
  -webkit-text-stroke: 0.6px #000;
  text-shadow: 0px 4px 4px #000;
}
.text{
  color:#FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}